@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --black: #2e3440;
    --dark-grey: #3b4252;
    --grey: #434c5e;
    --light-grey: #4c566a;
    --white: #e5e9f0;
    --blue-white: #d8dee9;
    --green-turquoise: #8fbcbb;
    --blue-turquoise: #88c0d0;
    --light-blue: #81a1c1;
    --blue: #5e81ac;
    --red: #bf616a;
    --orange: #d08770;
    --yellow: #ebcb8b;
    --green: #a3be8c;
    --pink: #b48ead;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: Inter, monospace;
    margin-left: 200px;
    display: inline-block;
}

#text1 {
    margin-left: 30vw;
    font-size: 2em;
    color: var(--blue-turquoise);
    display: inline-block;
    position: relative;
}

.cursor {
    color: var(--blue-turquoise);
    font-size: 32px;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
